# Data Science Tools and Ecosystem

## Author
Scott Faulkner

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List some open source tools for Data Science
- Demonstrate arithmetic operations

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. PyTorch

|Data Science Tools|
|------------------|
|MySQL|
|PostgreSQL|
|MongoDB|
|Apache Cassandra|
|Apache AirFlow|
|Apache Kafka|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335